<div class="col-lg-12"><h3>{{department.Module_Department}} Department</h3></div>
<div class="col-lg-12">
    <div class="col-lg-6">
        <div class="form-group">
            <label class="col-md-4 control-label">Blood Type:</label>
            <div class="col-md-8">
                <input type="text" ng-model="department.BloodType_OB" class="form-control input-sm" placeholder="Blood Type">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">RH:</label>
            <div class="col-md-8">
                <input type="text" ng-model="department.RH_OB" class="form-control input-sm" placeholder="RH">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">VDRL:</label>
            <div class="col-md-8">
                <input type="text" ng-model="department.VDRL_OB" class="form-control input-sm" placeholder="VDRL">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">HBsAG:</label>
            <div class="col-md-8">
                <input type="text" ng-model="department.HBsAG_OB" class="form-control input-sm" placeholder="HBsAG">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Antibodies:</label>
            <div class="col-md-8">
                <input type="text" ng-model="department.Antibodies_OB" class="form-control input-sm" placeholder="Antibodies">
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="col-md-12"><h4>Obstetrical History</h4></div>
        <div class="form-group">
            <label class="col-md-4 control-label">G:</label>
            <div class="col-md-8">
                <input type="text" ng-model="department.G_OB" class="form-control input-sm" placeholder="G">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">P:</label>
            <div class="col-md-8">
                <input type="text" ng-model="department.P_OB" class="form-control input-sm" placeholder="P">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Ft:</label>
            <div class="col-md-8">
                <input type="text" ng-model="department.Ft_OB" class="form-control input-sm" placeholder="Ft">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Pt:</label>
            <div class="col-md-8">
                <input type="text" ng-model="department.Pt_OB" class="form-control input-sm" placeholder="Pt">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Ab:</label>
            <div class="col-md-8">
                <input type="text" ng-model="department.Ab_OB" class="form-control input-sm" placeholder="Ab">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">L:</label>
            <div class="col-md-8">
                <input type="text" ng-model="department.L_OB" class="form-control input-sm" placeholder="L">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="col-lg-12">
    <div class="form-group">
        <label class="col-md-3 control-label">Desired Family Size:</label>
        <div class="col-md-3">
            <input type="text" ng-model="department.DesireFamSize_OB" class="form-control input-sm" placeholder="Desired Family Size">
        </div>
    </div>
    <div class="col-md-12 form-group">
        <label class="col-md-3 control-label">Contraceptive History:</label>
        <div class="col-md-3">
            <button type="button" class="btn btn-default btn-sm" ng-model="selectedContraceptive" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="contra.value as contra.label for contra in selectContraceptive" bs-select>
                Action <span class="caret"></span>
            </button>
        </div>
    </div>
    <div class="col-md-12 form-group">
        <label class="col-md-3 control-label">Educational Profile:</label>
        <div class="col-md-3">
            <button type="button" class="btn btn-default btn-sm" ng-model="selectedEducational" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="ed.value as ed.label for ed in selectEducational" bs-select>
                Action <span class="caret"></span>
            </button>
        </div>
    </div>
    <div class="col-md-12 form-group">
        <label class="col-md-3 control-label">Socio Economic Profile:</label>
        <div class="col-md-3">
            <button type="button" class="btn btn-default btn-sm" ng-model="selectedSocio" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="soc.value as soc.label for soc in selectSocio" bs-select>
                Action <span class="caret"></span>
            </button>
        </div>
    </div>
    <div class="col-md-12 form-group">
        <label class="col-md-3 control-label">Income:</label>
        <div class="col-md-3">
            <button type="button" class="btn btn-default btn-sm" ng-model="selectedIncome" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="inc.value as inc.label for inc in selectIncome" bs-select>
                Action <span class="caret"></span>
            </button>
        </div>
    </div>
</div>

<div class="col-lg-12"><h4>History of Present Illness</h4></div>
<div class="col-lg-12"><h5>Duration</h5></div>
<div class="col-lg-4 form-group">
    <div class="col-lg-4">
        <button type="button" class="btn btn-default btn-sm" ng-model="selectedDuration" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="durations.value as durations.label for durations in selectDuration" bs-select>
            Action <span class="caret"></span>
        </button>
    </div>
</div> <!-- Duration -->
<div class="col-lg-2"><label>No. of Months: </label></div>
<div class="col-lg-2"><input type="text" ng-model="department.MonthsHPI_Surgery" class="form-control input-sm" placeholder="# of Months"></div>
<div class="col-lg-2"><label>No. of Years: </label></div>
<div class="col-lg-2"><input type="text" ng-model="department.YearsHPI_Surgery" class="form-control input-sm" placeholder="# of Years"></div>
<div class="col-lg-12"><h5>Severity</h5></div>
<div class="col-lg-2 form-group">
    <div class="col-lg-4">
        <button type="button" class="btn btn-default btn-sm" ng-model="selectedSeverity" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="severities.value as severities.label for severities in selectSeverity" bs-select>
            Action <span class="caret"></span>
        </button>
    </div>
</div> <!-- Physical Examination -->
<div class="col-lg-12"><textarea rows="2" ng-model="department.HPI_Surgery" class="form-control" placeholder="History of Present illness.."></textarea></div>
<div class="col-lg-12"><h4>Physical Examination</h4></div>
<div class="col-lg-12"><h5>Skin</h5></div>
<div class="col-lg-12"><textarea rows="2" ng-model="department.Skin_Surgery" class="form-control" placeholder="Skin Descriptions . . ."></textarea></div>
<div class="col-lg-12"><h5>HEENT (Head, Eyes, Ears, Nose and Throat)</h5></div>
<div class="col-lg-12 form-group">
    <div class="col-lg-12">
        <button type="button" class="btn btn-default btn-sm" ng-model="selectedHEENT" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="heents.value as heents.label for heents in select3" bs-select>
            Action <span class="caret"></span>
        </button>
    </div>
</div><!-- HEENT -->
<div class="col-lg-12"><textarea rows="2" ng-model="department.HEENTDescription_Surgery" class="form-control" placeholder="HEENT (Head, Eyes, Ears, Nose and Throat)"></textarea></div>
<div class="col-lg-12"><h5>Chest and Lungs</h5></div>
<div class="col-lg-12"><textarea rows="2" ng-model="department.CL_Surgery" class="form-control" placeholder="Chest and Lungs Descriptions . . ."></textarea></div>
<div class="col-lg-12"><h5>Abdominal</h5></div>
<div class="col-lg-12"><textarea rows="2" ng-model="department.Abdominal_Surgery" class="form-control" placeholder="Abdominal Descriptions . . ."></textarea></div>
<div class="col-lg-12"><h5>Genitalia</h5></div>
<div class="col-lg-12"><textarea rows="2" ng-model="department.Genitalia_Surgery" class="form-control" placeholder="Genitalia Descriptions . . ."></textarea></div>
<div class="col-lg-12"><h5>Extremities</h5></div>
<div class="col-lg-12"><textarea rows="2" ng-model="department.Extremities_Surgery" class="form-control" placeholder="Extremities Descriptions . . ."></textarea></div>
<div class="col-lg-12"><h5>Rectal</h5></div>
<div class="col-lg-12"><textarea rows="2" ng-model="department.Rectal_Surgery" class="form-control" placeholder="Rectal Descriptions . . ."></textarea></div>