<div ng-include="'app/modals/patientModal.html'"></div>
<div ng-include="'app/modals/doctorModal.html'"></div>
<div ng-include="'app/modals/employeeModal.html'"></div>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">EMR (Electronic Medical Records)</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i>  EMR</strong>
                    <p class="">
                        An EMR is a digital version of a paper chart in a clinician's office.
                        It contains the medical and treatment history of the patients in one practice.
                    </p>

                    <hr>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Benefits of Electronic Medical Records</strong>
                    <p>
                        An EMR is more beneficial than paper records because it allows providers to:
                    <ul>
                        <li><b>Track</b> data over time</li>
                        <li><b>Identify</b> patients who are due for preventive visits and screenings</li>
                        <li><b>Monitor</b> how patients measure up to certain parameters, such as vaccinations and blood pressure readings</li>
                        <li><b>Improve</b> overall quality of care in a practice</li>
                    </ul>
                    </p>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        <div class="col-lg-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-sign-in"></i> Register account to EMR</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <img id="profile-img" style="width: 40px; height: 40px" class="profile-img-card" src="../../assets/img/avatar_2xx.png" />
                    <p id="profile-name" class="profile-name-card"></p>
                    <form class="form-signup">
                        <div class="form-group has-feedback">
                            <input type="text" id="username" ng-readonly="syspk" placeholder="Username" ng-model="user.UserName_User" class="form-control" required autofocus>
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" id="password" placeholder="Password" ng-model="user.Password_User" class="form-control" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="status" ng-model="user.AccessRights_User">
                                <option value="" disabled selected>Select Access Rights</option>
                                <option value="administrator">Administrator</option>
                                <option value="secretary">Secretary</option>
                                <option value="doctor">Doctor</option>
                                <option value="patient">Patient</option>
                            </select>
                        </div>
                        <a href="" ng-click="user.AccessRights_User === 'doctor' ? opendoctor('lg') : openpatient('lg')" ng-if="user.AccessRights_User === 'doctor' || user.AccessRights_User === 'patient'">Attach {{user.AccessRights_User}} to this user?</a>
                        <div class="form-group">
                            <input type="text" ng-readonly="user.AccessRights_User === 'doctor' || user.AccessRights_User === 'patient' || user.AccessRights_User === 'secretary'" ng-click="user.AccessRights_User === 'doctor' ? opendoctor('lg') : user.AccessRights_User === 'patient' ? openpatient('lg') : user.AccessRights_User === 'secretary' ? openemployee('lg') : ''" id="fullname" placeholder="Full Name" ng-model="user.Name_User" class="form-control">
                        </div>
                        <button ng-disabled="!user.UserName_User || !user.Password_User || !user.AccessRights_User || !user.Name_User" class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="register()"><i class="fa fa-sign-in"></i> Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Right Sidebar -->

<aside class="control-sidebar control-sidebar-light">
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab">Header</a></li>
    </ul>
    <div class="tab-content">
        <!-- Home tab content -->
        <div>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">
                        <!--<i class="menu-icon fa fa-user bg-yellow"></i> -->
                        <div class="menu-info">
                        </div>
                    </a>
                </li>
            </ul><!-- /.control-sidebar-menu -->
        </div><!-- /.tab-pane -->
    </div>
</aside>
<div class="control-sidebar-bg"></div>
</div>
<script>
    $('body').removeClass('control-sidebar-open');
</script>