<script type="text/ng-template" id="itemModal.html">
    <div class="container-fluid">
        <div class="row"><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Item List</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="myTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Unit</th>
                        <th>Cost</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="no-padding"></td>
                        <td class="no-padding"> <input type="text" class="form-control input-sm" ng-model="search.Description_Invty" placeholder="Search Item"></td>
                        <td class="no-padding"> <input type="text" class="form-control input-sm" ng-model="search.Particulars_Invty" placeholder="Search Description"></td>
                        <td class="no-padding"> <input type="text" class="form-control input-sm" ng-model="search.BaseUnitOfMeasure_Invty" placeholder="Search Unit"></td>
                        <td class="no-padding"> <input type="text" class="form-control input-sm" ng-model="search.CurrentCost_Invty" placeholder="Search Cost"></td>
                        <td class="no-padding"> <input type="text" class="form-control input-sm" ng-model="search.Price_Invty" placeholder="Search Price"></td>
                    </tr>
                    <tr ng-repeat="item in filtered = items.data | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" ng-click="setID(item)" ng-dblclick="ok(item)" class={{selected}}>
                        <td ng-click="ok(item)"><i class="fa fa-circle-o"></i></td>
                        <td>{{item.Description_Invty}}</td>
                        <td>{{item.Particulars_Invty}}</td>
                        <td>{{item.BaseUnitOfMeasure_Invty}}</td>
                        <td>{{item.CurrentCost_Invty}}</td>
                        <td>{{item.Price_Invty}}</td>
                    </tr>
                    <tr>
                        <td colspan="6"><i>(Note: Click </i> <i class="fa fa-circle-o"></i><i> or double click the row to select account..)</i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pagination ng-model="currentPage" max-size="10" boundary-links="true" first-text="<<" last-text=">>" total-items="totalItems" items-per-page="entryLimit" class="pagination-sm"></pagination>
    </div>
</script>