<!-- Content Header (Page header) -->
<section class="content-header">
    <h1><span ng-if="!clinicCookie.clinicname"><a href="" ng-click="selectClinic(user.syspk)">Select Clinic</a></span><span ng-if="clinicCookie.clinicname"><a href="" ng-click="selectClinic(user.syspk)">{{clinicCookie.clinicname}} - {{clinicCookie.clinicroom}}</a></span></h1>
    <p style="font-size: 18px">Secretary Setup Form</p>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="">Setups</a></li>
        <li class="active">Secretary Setup</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4>Personal Information</h4>
                </div>
                <form class="form-horizontal" role="form">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-2">
                                <img ng-src="{{dataUrls}}" width="150" style="border:3px solid black" height="150" alt="Profile Picture" class="img-responsive img-circle">
                                <div style="position:relative;">
                                    <a class='btn btn-primary btn-sm' href='javascript:;'>Select Picture<input class="inputfile" type="file"  ng-file-select="onFileSelect($files)" ng-model="sect.Picture_Empl" size="40"></a>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label for="inputID" class="col-lg-3 control-label">I.D.:</label>
                                    <div class="col-lg-9">
                                        <input type="text" ng-model="sect.IDNo_Empl" class="form-control input-sm" id="inputID" placeholder="Secretary's ID Number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputLName" class="col-lg-3 control-label">Name:</label>
                                    <div class="col-lg-2">
                                        <input type="text" ng-model="sect.LastName_Empl" class="form-control input-sm" id="inputLName" placeholder="Last Name">
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" ng-model="sect.FirstName_Empl" class="form-control input-sm" id="inputFName" placeholder="First Name">
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="text" ng-model="sect.MiddleName_Empl" class="form-control input-sm" id="inputMName" placeholder="M. Name">
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="text" ng-model="sect.ExtName_Empl" class="form-control input-sm" id="inputXName" placeholder="Ext. Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="InputAddress" class="col-lg-3 control-label">Address:</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="Address_Doctor" ng-model="sect.Address_Empl" class="form-control input-sm" id="InputAddress" placeholder="Address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone1" class="col-lg-3 control-label">Contact No.:</label>
                                    <div class="col-lg-9">
                                        <input type="text" ng-model="sect.ContactNumber_Empl" class="form-control input-sm" id="phone1" placeholder="Contact Number">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">User Account</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group row">
                        <label for="username" class="col-lg-2 control-label">Username:</label>
                        <div class="col-lg-5"><input  ng-model="user.UserName_User" placeholder="Username" class="form-control input-sm" id="username"></div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-lg-2 control-label">Password:</label>
                        <div class="col-lg-5"><input ng-model="user.Password_User" placeholder="Password" class="form-control input-sm" id="password"></div>
                    </div>
                    <div class="form-group row">
                        <label for="eaddress" class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-5"><input ng-model="user.EmailAdd_User" placeholder="Email Address" class="form-control input-sm" id="eaddress"></div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-lg-10">
                        <div class="pull-right">
                            <input type="submit" ng-disabled="!sect.LastName_Empl || !sect.FirstName_Empl" ng-click="addsecretary()" value="Save" class="btn btn-success btn-sm" data-dismiss="modal">
                            <a href="#/employees" class="btn btn-default btn-sm" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Right Sidebar -->

<aside class="control-sidebar control-sidebar-light">
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"></a></li>
    </ul>
    <div class="tab-content">
        <!-- Home tab content -->
        <div>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon"></i>
                        <div class="menu-info">
                        </div>
                    </a>
                </li>
            </ul><!-- /.control-sidebar-menu -->
        </div><!-- /.tab-pane -->
    </div>
</aside>
<div class="control-sidebar-bg"></div>
</div>

<!-- Page Script -->
<script>
    $(document).ready(function() {
        $('body').removeClass('control-sidebar-open');
        $("#datemask").inputmask("yyyy-mm-dd", {"placeholder": "yyyy-mm-dd"});
    })
</script>
