<!-- Content Header (Page header) -->
<section class="content-header">
    <h1><span ng-if="!clinicCookie.clinicname"><a href="" ng-click="selectClinic(user.syspk)">Select Clinic</a></span><span ng-if="clinicCookie.clinicname"><a href="" ng-click="selectClinic(user.syspk)">{{clinicCookie.clinicname}} - {{clinicCookie.clinicroom}}</a></span></h1>
    <p style="font-size: 18px">Doctor Setup Form</p>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="">Setups</a></li>
        <li class="active">Doctor Setup</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4>Personal Information</h4>
                </div>
                <form class="form-horizontal" role="form">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-2">
                                <img ng-src="{{dataUrls}}" width="150" style="border:3px solid black" height="150" alt="Profile Picture" class="img-responsive img-cicle">
                                <div style="position:relative;">
                                    <a class='btn btn-primary btn-sm' href='javascript:;'>Select Picture<input class="inputfile" type="file"  ng-file-select="onFileSelect($files)" ng-model="doctor.Picture_Doctor" size="40"></a>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="inputName" class="col-lg-3 control-label">I.D.:</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="IDNumber_Doctor" ng-model="doctor.IDNumber_Doctor" class="form-control input-sm" id="inputID" placeholder="Physician's ID Number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-lg-3 control-label">Name:</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="Name_Doctor" ng-model="doctor.Name_Doctor" class="form-control input-sm" id="inputName" placeholder="Last Name,  First Name   Middle Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="InputAddress" class="col-lg-3 control-label">Address:</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="Address_Doctor" ng-model="doctor.Address_Doctor" class="form-control input-sm" id="InputAddress" placeholder="Address">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="phone1" class="col-lg-3 control-label">Phone1:</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="HomePhone_Doctor" ng-model="doctor.HomePhone_Doctor" class="form-control input-sm" id="phone1" placeholder="Home Phone Number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone2" class="col-lg-3 control-label">Phone2:</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="OfficePhone_Doctor" ng-model="doctor.OfficePhone_Doctor" class="form-control input-sm" id="phone2" placeholder="Office Phone Number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone3" class="col-lg-3 control-label">Phone3:</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="BusinessPhone_Doctor" ng-model="doctor.BusinessPhone_Doctor" class="form-control input-sm" id="phone3" placeholder="Business Phone Number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone4" class="col-lg-3 control-label">Phone4:</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="ContactNumber_Doctor" ng-model="doctor.ContactNumber_Doctor" class="form-control input-sm" id="phone4" placeholder="Mobile Number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <form class="form-horizontal" role="form">
                            <div class="box-body">
                                <!-- Profession Information-->
                                <h4>Profession Information</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <fieldset>
                                            <div class="form-group">
                                                <label for="licenseNumber" class="col-lg-2 control-label">License:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" name="License_Doctor" ng-model="doctor.License_Doctor" class="form-control input-sm" id="licenseNumber" placeholder="License Number . . .">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ptrNumber" class="col-lg-2 control-label">PTR:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" name="PTR_Doctor" ng-model="doctor.PTR_Doctor" class="form-control input-sm" id="ptrNumber" placeholder="PTR">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="s2Number" class="col-lg-2 control-label">S2:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" name="S2_Doctor" ng-model="doctor.S2_Doctor" class="form-control input-sm" id="s2Number" placeholder="S2">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ptrNumber" class="col-lg-8 control-label">Medical Specialization:</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label"></label>
                                                <div class="col-lg-10">
                                                    <textarea class="form-control" name="Specialization_Doctor" ng-model="doctor.Specialization_Doctor" placeholder="Medical Specialization . . .">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <input type="submit" ng-disabled="!doctor.IDNumber_Doctor || !doctor.Name_Doctor || !doctor.Address_Doctor || !doctor.License_Doctor" ng-click="adddoctor()" value="Save" class="btn btn-success btn-sm" data-dismiss="modal">
                                    <a href="#/patients" class="btn btn-default btn-sm" data-dismiss="modal">Close</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Right Sidebar -->

<aside class="control-sidebar control-sidebar-light">
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"></a></li>
    </ul>
    <div class="tab-content">
        <!-- Home tab content -->
        <div>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon"></i>
                        <div class="menu-info">
                        </div>
                    </a>
                </li>
            </ul><!-- /.control-sidebar-menu -->
        </div><!-- /.tab-pane -->
    </div>
</aside>
<div class="control-sidebar-bg"></div>
</div>

<!-- Page Script -->
<script>
    $(document).ready(function() {
        $('body').removeClass('control-sidebar-open');
        $("#datemask").inputmask("yyyy-mm-dd", {"placeholder": "yyyy-mm-dd"});
    })
</script>
